.clipboardbutton {
    display: flex;
    background-image: url(./copy_link_icon.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 4px;
    margin-left: 8px;
}