.centerJoin {
    /* border: 5px solid; */
        /* width: 50%; */
    /* padding: 10px; */
    text-align: center;
    position: absolute;
    left: 40%;
    top: 16%;
    margin: auto;
    /*
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

.centerExtraJoin {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 18%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-flex;
}

.centerInfo {
    top: 50%;
}

.code-input {
    height: 45px;
    width: 250px !important;
    margin-right: 20px;
    margin-left: 110px;
    margin-top: 3px;
}

.join-button {
    height: 45px !important;
    width: 225px ;
    padding-bottom: 45px !important;
}